node_modules
.idea/
record.log
/client/node_modules/
/node_modules/*
node_modules
/client/scripts/
./client/public/build/
/client/public/build/*
/client/public/build/bundle.css
/client/public/build/bundle.js
/client/public/build/bundle.js.map
/client/.DS_Store
/client/dist/

/server/.env
/server/tmp/*

__pycache__
funcs/__pycache__/*
.vscode/settings.json
/.vscode/
client/package-lock.json
client/public/build/bundle.css
client/public/build/bundle.js
client/public/build/bundle.js.map

client/public/index.css
funcs/__pycache__/finn.cpytho

/node_modules/
/dist/
/.vscode/
.DS_Store


env_priv.py