{% load static %}

<div class="butCard">
        
    <ul class="d-flex list-unstyled mb-5 mb-lg-0 btlist">
        <li class="mr-2 firstbt" >
            <a href="https://discord.gg/b2WKrgQjMU" target="_blank" class="btn btn-icon-only btn-pill btn-primary wow bounceInUp " data-wow-duration="1s" aria-label="doscord social link"
            data-toggle="tooltip" data-placement="top" title="Join on Discord server 'TechBot'">
                <span aria-hidden="true" class="fab fa-discord"></span>
            </a>
        </li>
        <li class="mr-2">
            <a href="https://www.facebook.com/ShawonUIUCSE/" target="_blank" class="btn btn-icon-only btn-pill btn-primary wow bounceInUp" data-wow-duration="2s" aria-label="facebook social link"
            data-toggle="tooltip" data-placement="top" title="Add me on Facebook">
                <span aria-hidden="true" class="fab fa-facebook"></span>
            </a>
        </li>
        <li class="mr-2">
            <a href="https://github.com/mujahid20" target="_blank" class="btn btn-icon-only btn-pill btn-primary wow bounceInUp" data-wow-duration="3s" aria-label="github social link"
            data-toggle="tooltip" data-placement="top" title="Have a look on my repos">
                <span aria-hidden="true" class="fab fa-github"></span>
            </a>
        </li>

        <li class="mr-2">
            <a href="https://accounts.google.com/ServiceLogin?service=mail&passive=true&Email=example@gmail.com&continue=https://mail.google.com/mail/u/example@gmail.com/?view=cm%26fs=1%26to=mislam171020@bscse.uiu.ac.bd%26su=SUBJECT%26body=BODY%26" target="_blank" class="btn btn-icon-only btn-pill btn-primary wow animated bounceInUp" data-wow-duration="4s" aria-label="github social link"
            data-toggle="tooltip" data-placement="top" title="Contact me vie Gmail">
                <span aria-hidden="true" class="fab fa-google"></span>
            </a>
        </li>

        <li class="mr-2">
            <a href="https://www.instagram.com/avro.__/" target="_blank" class="btn btn-icon-only btn-pill btn-primary wow bounceInUp" data-wow-duration="5s" aria-label="github social link"
            data-toggle="tooltip" data-placement="top" title="Follow me on Instagram">
                <span aria-hidden="true" class="fab fa-instagram"></span>
            </a>
        </li>
        <li class="mr-2">
            <a href="https://www.linkedin.com/in/mujahidulislam20/" target="_blank" class="btn btn-icon-only btn-pill btn-primary  wow animated bounceInUp" data-wow-duration="6s" aria-label="github social link"
            data-toggle="tooltip" data-placement="top" title="Connect me on LinkedIn">
                <span aria-hidden="true" class="fab fa-linkedin"></span>
            </a>
        </li>
        <li>
            <a href="https://api.whatsapp.com/send?phone=+8801708083429" target="_blank" class="btn btn-icon-only btn-pill btn-primary wow bounceInUp" data-wow-duration="7s"" aria-label="dribbble social link"
            data-toggle="tooltip" data-placement="top" title="Chat on Whatsapp">
                <span aria-hidden="true" class="fab fa-whatsapp"></span>
            </a>
        </li>
    </ul>

</div>