{% load static %}
<div id="hero">
    <div class="container">

        <div class="card_cus">
          <div class="card_cus__text">
               BONJOUR
               <span class="flicker">!</span>
            


                <span class="wow fadeInUp" data-wow-duration="3s">I'm Mujahidul Islam.</span>
            
              <p class="animate-text">
                   <span>Software Engineer</span>
                   <span>Web Developer</span>
                   <span>Full Stack</span>
                   <span>Machine Learning Enthusiastic</span>
                   <span>Bioinformatics Learner</span>
                </p>
            <h6 class="wow fadeInDown spacel" data-wow-duration="3s">Exclusively crafted for t lergners like me who designed thousand of websites till today but never got a chance to build one himselfazy desiup.</h6>
              </div>


        </div>
        {% include 'contactinfo.html' %}
      </div>
</div>