{% load static %}
<div class="mycontainer">
                <div class="col-lg-12">
                    <!--Buttons-->
                    <div class="mb-3 mt-5">
                    <!--Buttons-->
                        <button type="button" class="btn btn-pill btn-primary">
                            Techs I love to work with <span class="badge badge-pill badge-success">*</span>
                            <span class="sr-only">unread messages</span>
                        </button>
                        <button class="btn btn-pill btn-primary left-pad" type="button">
                        <span ><img class="sizefixlogo" src="{% static 'logo/python.svg' %}"></span>
                    </button>
                         <button class="btn btn-pill btn-primary left-pad-btn" type="button">
                        <span ><img class="sizefixlogo" src="{% static 'logo/MERN-logo.png' %}"></span>
                    </button>
                    <button class="btn btn-pill btn-primary left-pad-btn" type="button">
                        <span ><img class="sizefixlogo" src="{% static 'logo/django-posi.svg' %}"></span>
                    </button>

                    <button class="btn btn-pill btn-primary left-pad-btn" type="button">
                        <span ><img class="sizefixlogo" src="{% static 'logo/svelte.svg' %}"></span>
                    </button>
                    
                    </div>
                    <!--Buttons-->
                    
                </div>
            
        </div>